<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/gif" href="/benicon.png">
    <style th:utext="${style}"></style>
    <title th:text="${documentName}"></title>
</head>
<body>
    <a href="https://benwiser.com">Home</a>
    <div class="context">
        <ul>
            <li>
                <b>My other stuff</b>
            </li>
            <li th:each="document : ${documentNames}">
                <a th:href="@{${#strings.replace(document, ' ', '-')} + '.html'}" th:text="${document}"></a>
            </li>
        </ul>
        <div class="main" th:utext="${content}"></div>
    </div>
</body>
</html>
